body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.contenedor {
    max-width: 1480px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
}

.seccionMaster {
    max-width: 1040px;
    float: left;
}

.ingresaTexto {
    margin-left: 240px;
    margin-top: 68px;
}

.texTareaIngresar {
    width: 680px;
    height: 506px;
    padding: 20px;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    background: none;
}

.texTareaIngresar::placeholder {
    color: #0A3871;
}

.aviso {
    display: flex;
    margin-left: 240px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.iconoAviso {
    width: 16px;
    height: 16px;
}

.parrafoAviso {
    color: #495057;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 12px;
}

.dosBotones {
    margin-left: 240px;
}

.btnEncriptar {
    margin-right: 12px;
    border-radius: 24px;
    width: 318px;
    height: 67px;
    border-color: #0A3871;
    color: white;
    background-color: #0A3871;
    font-size: 16px;
    cursor: pointer;

}

.btnDesencriptar {
    margin-left: 12px;
    border-radius: 24px;
    width: 318px;
    height: 67px;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}

.asideMaster {
    float: right;
    max-width: 400px;
    height: 814px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 10px 10px -3px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.asideCentrar {
    display: flex;
}

.asideImagen {
    margin: 32px;
}

.ParrafoMensaje {
    text-align: center;
    margin: 32px;
}

.parraNegrito {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.parrafoNormal {
    font-size: 16px;
}

.asideMasterResult {
    float: right;
    max-width: 400px;
    height: 814px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 10px 10px -3px rgb(0, 0, 0, 0.1);
    display: flex;
}

.mensajeResultado {
    margin: 32px;

}

.textoEncriptado {
    width: 336px;
    height: 681px;
    font-size: 24px;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

.btnCopiar {
    margin-top: 32px;
    border-radius: 24px;
    width: 336px;
    height: 67px;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}

.footerCentrado {
    clear: right;
    /* coloca el footer debajo de los elementos flotantes con "float: right"  */
    width: 100%;
    text-align: center;
}

div.footerCentrado p {
    padding-top: 20px;
    color: #0A3871;
    font-size: 16px;
    display: inline-block;
}

div.footerCentrado b {
    font-weight: bold;
}

div.footerCentrado img {
    width: 32px;
    vertical-align: middle;
    /* alinea la imagen a la mitad del texto */
}

/* Agregando Media Queries  1380px ---------------------------------------------- */
@media (max-width: 1380px) {
    .contenedor {
        max-width: 1380px;
    }

    .seccionMaster {
        max-width: 930px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 610px;
        height: 236px;
        padding: 20px;  
    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 293px;
        height: 57px;
    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 293px;
        height: 57px;
    }

    .asideMaster {
        float: right;
        max-width: 350px;
        height: 544px;
    }

    div.asideImagen img {
        width: 286px;
    }

    .asideMasterResult {
        float: right;
        max-width: 350px;
        height: 544px;
    }

    .textoEncriptado {
        width: 236px;
        height: 381px;
        font-size: 24px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 293px;
        height: 57px;
    }

}

/* Agregando Media Queries  1280px ---------------------------------------------- */
@media (max-width: 1280px) {
    .contenedor {
        max-width: 1280px;
    }

    .seccionMaster {
        max-width: 920px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 560px;
        height: 236px;
        padding: 20px;

    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .asideMaster {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    div.asideImagen img {
        width: 236px;
    }

    .asideMasterResult {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    .textoEncriptado {
        width: 236px;
        height: 381px;
        font-size: 24px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 243px;
        height: 57px;
    }

}

/* Agregando Media Queries  1139px ---------------------------------------------- */
@media (max-width: 1139px) {
    .contenedor {
        max-width: 1139px;
    }

    .seccionMaster {
        max-width: 890px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 530px;
        height: 236px;
        padding: 20px;
    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .asideMaster {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    div.asideImagen img {
        width: 236px;
    }

    .asideMasterResult {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    .textoEncriptado {
        width: 236px;
        height: 381px;
        font-size: 24px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 243px;
        height: 57px;
    }
}

/* Agregando Media Queries  1109px ---------------------------------------------- */
@media (max-width: 1139px) {
    .contenedor {
        max-width: 1139px;
    }

    .seccionMaster {
        max-width: 870px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 530px;
        height: 236px;
        padding: 20px;
    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 268px;
        height: 57px;
    }

    .asideMaster {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    div.asideImagen img {
        width: 236px;
    }

    .asideMasterResult {
        float: right;
        max-width: 300px;
        height: 544px;
    }

    .textoEncriptado {
        width: 236px;
        height: 381px;
        font-size: 24px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 243px;
        height: 57px;
    }
}

/* Agregando Media Queries  1080px ---------------------------------------------- */
@media (max-width: 1080px) {
    .contenedor {
        max-width: 1080px;
    }

    .seccionMaster {
        max-width: 820px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 460px;
        height: 236px;
        padding: 20px;
    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 218px;
        height: 47px;
    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 218px;
        height: 47px;
    }

    .asideMaster {
        float: right;
        max-width: 250px;
        height: 544px;
    }

    div.asideImagen img {
        width: 186px;
    }

    .parraNegrito {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .parrafoNormal {
        font-size: 12px;
    }

    .asideMasterResult {
        float: right;
        max-width: 250px;
        height: 544px;
    }

    .textoEncriptado {
        width: 186px;
        height: 381px;
        font-size: 18px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 193px;
        height: 47px;
    }
}

/* Agregando Media Queries  989px ---------------------------------------------- */
@media (max-width: 989px) {
    .contenedor {
        max-width: 989px;
    }

    .seccionMaster {
        max-width: 740px;
        float: left;
    }

    .ingresaTexto {
        margin-left: 140px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: 380px;
        height: 236px;
        padding: 20px;
    }

    .dosBotones {
        margin-left: 140px;
    }

    .btnEncriptar {
        margin-right: 12px;
        border-radius: 24px;
        width: 193px;
        height: 47px;

    }

    .btnDesencriptar {
        margin-left: 12px;
        border-radius: 24px;
        width: 193px;
        height: 47px;
    }

    .asideMaster {
        float: right;
        max-width: 250px;
        height: 544px;
    }

    div.asideImagen img {
        width: 186px;
    }

    .parraNegrito {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .parrafoNormal {
        font-size: 12px;
    }

    .asideMasterResult {
        float: right;
        max-width: 250px;
        height: 544px;
    }

    .textoEncriptado {
        width: 186px;
        height: 381px;
        font-size: 18px;
    }

    .btnCopiar {
        margin-top: 32px;
        border-radius: 24px;
        width: 193px;
        height: 47px;
    }

}

/* Agregando Media Queries  768px ---------------------------------------------- */
@media (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 40px 40px 0 0px;
    }

    .seccionMaster {
        max-width: 100%;
        float: none;
    }

    .ingresaTexto {
        margin-left: 40px;
        margin-top: 68px;
    }

    .texTareaIngresar {
        width: calc(100% - 40px);
        height: 306px;

    }

    .aviso {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .dosBotones {
        margin-left: 40px;
        width: 100%;
        
    }

    .btnEncriptar,
    .btnDesencriptar {
        width: calc(50% - 40px);
        height: 50px;
        font-size: 18px;
    }

    .asideMaster {
        margin-left: 40px;
        margin-top: 20px;
        max-width: 100%;
        height: 350px;
    }

    .asideMasterResult {
        margin-left: 40px;
        margin-top: 20px;
        max-width: 100%;
        height: 350px;
    }

    .parraNegrito {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 32px;
    }
    
    .parrafoNormal {
        font-size: 24px;
    }

    .textoEncriptado {
        width: calc(100% - 40px);
        height: 200px;
        font-size: 24px;
    }

    .btnCopiar {
        width: 100%;
        height: 50px;
       
    }

    div.asideImagen img {
        display: none;
    }

}

/* Agregando Media Queries  480px ---------------------------------------------- */
@media (max-width: 560px) {
    .parraNegrito {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 32px;
    }
    
    .parrafoNormal {
        font-size: 20px;
    }
}

/* Agregando Media Queries  480px ---------------------------------------------- */
@media (max-width: 480px) {

    .dosBotones {
        margin-left: 40px;
        width: 100%;
        
    }

    .btnEncriptar,
    .btnDesencriptar {
        width: calc(100% - 40px);
        height: 50px;
        margin-right:0;
        margin-left: 0;
        font-size: 18px;
    }

    .parraNegrito {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 32px;
    }
    
    .parrafoNormal {
        font-size: 16px;
    }


}